

#root {
  height: 100%;
}

#time-left {
  background-color: #2f2f2f;
  border-radius: 50%;
  height: 13rem;
  width: 13rem;
  line-height: 13rem;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  z-index: 9;
  top:1rem;
  left:1rem;
  font-size: 3rem;
  font-weight: 500;
}

#outerCircle {
  background-color:#fe6f27;
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
  position: relative;
  margin: 0 auto 5% auto;
}


button  {
  border: solid 3px #fe6f27;
  border-radius: 50%;
  margin: 0.7rem 1rem 0.7rem 1rem;
  background-color: #2f2f2f;
  background: none;
  display: inline-block;
  width: 3rem;
  height: 3rem;
}

img {
pointer-events: none;
margin-left: auto;
margin-right: auto;
display: inline-block;
width: 25px;
line-height: 100%;
}

#wrapper {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

#adjustment {
  height: 20%;
  width: 100%;
}

#break-div, #session-div {
  width: 40%;
  display: inline-block;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}


h1 {
  display: block;
  width: 100%;
  height: 3rem;
  text-align: center;
  margin: 5% auto 5% auto;

}


#timer-div {
  text-align: center;
}

#start_stop, #reset {
  border-radius: 0;
  display: inline-block;
  width: 25%;
  padding: 2% 4%;
  color:#fe6f27;
  font-weight:900;
  font-size: 1rem;
  height: auto;
}

#timer-label {
  padding: 2%;
  font-size: 1.5rem;
  font-weight:500;
}

#break-length, #session-length {
  line-height: 3rem;
  display: inline-block;
  font-weight:500;
  font-size: 1.5rem;
}


#break-label, #session-label {
  margin-bottom: 5%;
  font-weight:500;
  font-size: 1.2rem;
}

footer {
  text-align: center;
  margin: 2% 0 2% 0;
}

#coder {
  color: white;
}


@media only screen and (max-width: 600px) {
  #wrapper {
    width: 100vw;
  }

  #break-div, #session-div {
    width: 44%;
    display: inline-block;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
  }

  #root {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #break-length, #session-length {
    display: flex;
    flex-direction: column;
  }

  #start_stop, #reset {
    width: 30%;
  }

}